article {
    display: flex;
    width: 340px;
    height: 340px;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;

    img{
        width: 340px;
        height: 340px;
        object-fit: cover;
        display: flex;
        border-radius: 15px;
    }
    h3{
        position: relative;
        margin: 0;
        top: -70px;
        color: rgb(255,96,96);
        // background-color: grey;
        padding-left: 5%;
        padding-right: 5%;
        height: 70px;
        display: flex;
        border-radius: 0 0 20px 20px;
        align-items: center;
        backdrop-filter: blur(10px);
    }
    a{
        text-decoration: none;
    }

}